#edit-tokens {
  display: none;
}
#block-uw-user-tutoring-profile-logout {
  margin-bottom: 1.5em;
  float: right;
}

#edit-field-profile-courses-und {
  height: 20em;
  resize: vertical;
}

.tutor_logout {
  padding-bottom: 15px;
}

#block-views-exp-tutoring-search-page  #edit-field-profile-courses-target-id-wrapper select,
#block-views-exp-tutoring-search-page  #edit-field-profile-hourly-rate-target-id-wrapper select,
#block-views-exp-tutoring-search-page  #edit-field-profile-academic-year-target-id-wrapper select {
  max-width: 220px;
  min-width: 220px;
  max-height: 100px;
}

#block-views-exp-tutoring-search-page #edit-submit-tutoring-search {
  margin-bottom: 0.4rem;
}

#block-views-exp-tutoring-search-page .views-exposed-widget.views-submit-button {
  padding: 0;
}

#block-views-exp-tutoring-search-page .views-exposed-form label {
  font-weight: 600;
}
